@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');/*importando fonte*/



*{  
    background-color: #1C1C1C;
    padding:0;
    margin:0;
    border:0;
    
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.principal{/*formulario principal*/
    color:whitesmoke;
    font-size: 30px;
    position: absolute;
    top: 20%; 
    left: 10%;
}
.classNome{
    border: 2px #7fff00 solid;
    border-radius: 10px;
    background: #3a3a3a;
    padding-left: 10px;
    width: 290px;
    height: 35px;
    font-size: 25px;
    color: white;
}
.classTelefone{
    border: 2px #7fff00 solid;
    border-radius: 10px;
    width: 251px;
    background: #3a3a3a;
    height: 35px;
    font-size: 25px;
    color:whitesmoke;
    padding-left: 10px;

}
.classData{
    border: 2px #7fff00 solid;
    border-radius: 10px;
    width: 260px;
    background: #3a3a3a;
    height: 35px;
    font-size: 25px;
    color:whitesmoke;
    padding-left: 10px;

}
.classHora{
    border: 2px #7fff00 solid;
    border-radius: 10px;
    width: 125px;
    background: #3a3a3a;
    height: 35px;
    font-size: 25px;
    color:whitesmoke;
    padding-left: 15px;

}
.BTN1{
    
    cursor: pointer;
    position: relative;
    background-color: #3a3a3a;
    color:#fff;
    width: 150px;
    border: 2px #7fff00 solid;
    border-radius: 10px;
    font-size: 20px;   
}
.BTN1:hover{/*efeito da seta passando por cima do botão*/
    
    background: #009c3d; 
    transition: background 0.5s;
    color:rgb(255, 255, 255);
    box-shadow: insert 0 0 0 1px #009c3d;
}


@media only screen and (min-width: 450px) and (max-width: 600px){/*configurando menu de acordo com a resolução*/
    .principal{
        color:whitesmoke;
        font-size: 30px;
        position: absolute;
        top: 12%; 
        left: 15%;
    }
}
@media only screen and (min-width: 0px) and (max-width: 450px){/*configurando menu de acordo com a resolução*/
    .principal{
        color:whitesmoke;
        font-size: 30px;
        position: absolute;
        top: 7%; 
        left: 10%;
    }
}
